---
pagination:
  data: providers.providers
  size: 1
  alias: provider
permalink: "/api/providers/{{ provider.id }}/parameters.json"
eleventyExcludeFromCollections: true
---
{%- if parameters[provider.id] -%}
{{ parameters[provider.id] | dump | safe }}
{%- else -%}
{"provider_id":"{{ provider.id }}","provider_name":"{{ provider.name }}","generated_at":null,"classes":{}}
{%- endif -%}
